/*!
*
* UoP Mobile App CSS v1.0.0
* Date: Tue Feb 04 2014 16:27:22 UTC
* 
*/

.ui-block-a , .ui-block-b, .ui-block-c, .ui-block-d
{
	text-align: center;
	vertical-align:text-top;
}

#map-canvas
{
	height:100%;
}

.pg-title
{
	margin:0;
	padding-top: 5px;
	padding-left: 5px;
	color: #59379e;
	text-align:center;
}
