/*!
*
* UoP Mobile App CSS v1.0.0
* Last Edit: Thu Feb 27 2014 22.14:22 UTC
* 
*/

.ui-block-a , .ui-block-b, .ui-block-c, .ui-block-d
{
	text-align: center;
	vertical-align:text-top;
}

#map-container
{
	height:100%;
	width:60%;
	float:left;
}

#map-canvas
{
	height:100%;
	width="100%;
}

#map-text
{
	height:100%;
	width:40%;
	float:right;
}

#bus-stop-map-canvas
{
	height:50%;
	overflow:visible !important;
	display:none;
}

#showMapBtn
{
	width:25%;
	}

.pg-title
{
	margin:0;
	padding-top: 5px;
	padding-left: 5px;
	color: #59379e;
	text-align:center;
}

.float-right {
float: right;
margin-left: 1em;
margin-bottom: 1em;
}

.float-left {
float: left;
margin-left: 1em;
margin-bottom: 1em;
}

.bold {
font-weight:bold;
}

#homeScreen
{
	height:100% !important;
}

.homeIcon
{
	height:33% !important;
}

.ui-page
{
	height:100% !important;
}

.ui-content
{
	height:100% !important;
}

.percBar
{
	padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444; 
	width:99.5%;
	height:1.2em;
	background-color:#ededed;
	border:#333333;
}

.percent
{
	display: inline-block;
    height: 1.2em !important;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    opacity: 0.6;   
}

#cwkInputs
{
	width: 50%;
}

#persTimeTable
{
	width:75%; 
	margin:0 auto;
	
 }
.titleCell {
	background-color: #BBBBBB; 
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	border-style: solid;
	border-width: .2em;
	border-color: white;
}
.subtitle th {
	background-color: #DDDDDD;
	font-weight: bold;
	color: #CC5E2F;
}

.uopTable.timetable {
	width:100%
}

.uopTable.timetable td {
	background-color: #EEEEEE;
}
.uopTable.timetable td, .uopTable.timetable th {
	border-style: solid;
	border-width: .1em;
	border-color: white;
	padding-top: .3em;
	padding-bottom: 0;
	padding: .3em;
}
button
{
	padding:2;
}
